In [1]:
#import nessary libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#reading data set 
df = pd.read_csv("housing.csv")

In [3]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
df.value_counts()

longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value  ocean_proximity
-114.31    34.19     15.0                5612.0       1283.0          1015.0      472.0       1.4936         66900.0             INLAND             1
-114.61    33.62     16.0                1187.0       261.0           1115.0      242.0       2.1759         61500.0             INLAND             1
-114.62    33.62     26.0                18.0         3.0             5.0         3.0         0.5360         275000.0            INLAND             1
-114.63    32.76     15.0                1448.0       378.0           949.0       300.0       0.8585         45000.0             INLAND             1
-114.64    34.83     10.0                2502.0       573.0           1152.0      481.0       1.7062         86800.0             INLAND             1
                                                                                                                                                   ..
-124.25    40.28     32.0                1430.0       419.0           434.0       187.0       1.9417         76100.0             NEAR OCEAN         1
-124.26    40.58     52.0                2217.0       394.0           907.0       369.0       2.3571         111400.0            NEAR OCEAN         1
-124.27    40.69     36.0                2349.0       528.0           1194.0      465.0       2.5179         79000.0             NEAR OCEAN         1
-124.30    41.84     17.0                2677.0       531.0           1244.0      456.0       3.0313         103600.0            NEAR OCEAN         1
           41.80     19.0                2672.0       552.0           1298.0      478.0       1.9797         85800.0             NEAR OCEAN         1
Name: count, Length: 20433, dtype: int64